<div class="cover">
    <span class="tomain__tap-button">Главная</span>
    <div class="auth">
        <div class="logo-auth" style="padding: 20px">
            <a class"a__form-logo" style="text-decoration: none" href="">
                <span style="color: black; font-size: 5rem">You</span>
                <span style="color: #e60023; font-size: 5rem">Pin</span>
            </a>
        </div>
        <div class="form-auth">
            <form action="post" class="{{this.className}}">
                {{#each inputs}}
                    {{{this}}}
                {{/each}}
                {{{button}}}
            </form>
            <div class="form-footer">
                <span>Нет аккаунта? {{{button_form_footer}}}</span>
            </div>
        </div>
    </div>
</div>
