.pin {
    width: 300px;
    height: 100%;
    position: relative;
    background-color: #b90e0e; /* Цвет фона */
    border: 1px solid #c41313; /* Граница */
    border-radius: 8px; /* Скругление углов */
    overflow: hidden; /* Обрезка содержимого */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pin--disabled {
    opacity: 0.6; /* Полупрозрачность для отключенной карточки */
    pointer-events: none; /* Отключение взаимодействия */
}

.pin-image {
    width: 120px;
    height: 120px;
}

.board-select {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px solid #c41313;
    border-radius: 4px;
    background-color: #fff;
    font-size: 12px;
    margin: 5px 0; /* Отступы для выпадающего списка */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Разделение кнопок */
    width: 100%; /* Полная ширина */
}

.save-pin-container, .share-pin-container, .menu-pin-container {
    width: 16px; /* Ширина кнопок */
    height: 16px; /* Высота кнопок */
}

.pin-text {
    font-size: 12px;
    text-align: center;
}

.pin-user-icon {
    width: 16px;
    height: 16px;
    margin-top: 5px;
}
