/* net.css */
.pins-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 столбца */
    gap: 10px; /* Отступы между элементами */
    width: 70%; /* Полная ширина контейнера */
}

.pin-container {
    background-color: #f0f0f0; /* Цвет фона для пинов */
    border: 1px solid #ccc; /* Рамка для пинов */
    border-radius: 5px; /* Скругление углов */
    padding: 10px; /* Отступы внутри пина */
    display: flex;
    flex-direction: column; /* Вертикальная ориентация элементов внутри пина */
    align-items: center; /* Центрирование содержимого по горизонтали */
}
