@import url(../../../constants.css);

.net {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-gap: 20px; */
    background-color: var(--project-primary-white);
    padding: 50px;
}
