:root {
	--project-primary-red: #e60023;
	--project-primary-white: white;
	--project-primary-black: black;
	--project-primary-grey: grey;

	--input-label-color: #8f8f8f;

	--input-caption-color: #505050;
	--input-caption-font-size: 12px;

	--buttons-hover-background-color: #8a2b39;

	--header-nav-background-color: #f0f0f0;

	--buttons-disabled-color: grey;
	--buttons-disabled-text-color: lightgrey;

	--card-element-background-color: #f3f3f3;

	--pin-feed-author-name-color: black;
	--pin-feed-author-followers-number-color: #7B7B7B;

	--pin-preview-stats-numbers-color: white;
	--pin-preview-author-name-color: white;
	--pin-preview-followers-number-color: #A9A9A9;

	--pin-create-new-board-button-color: #5A5A5A;
	--pin-create-new-board-button-hovered-color: #3d3d3d;
	--pin-create-new-board-button-text-color: white;

	--pinset-main-color-blue: #2C2CFF;
	--pinset-main-color-purple: #9800FE;

	--pinset-main-color-blue-hovered: #1212f1;
	--pinset-main-color-purple-hovered: #7605c2;

	--pinset-search-input-background-color: #C4C4C4;
	--pinset-search-input-placeholder-color: #626262;
	--pinset-checkbox-input-checked-color: #4C2CFF;
	--pinset-box-list-option-hover-color: #4C2CFF;
	--pinset-list-entity-background-color-on-hover: #E6E6E6;
	--pinset-box-shadowed-cards-color: #6d6d6d8a;
	--pinset-header-background-color: #F2F2F2;
	--pinset-search-input-text-color: #161616;

	--pinset-boards-list-not-found-text-color: #838383;

	--pinset-profile-bio-divider-color: #686868;
	--pinset-profile-nickname-block-color: #595959;
	--pinset-profile-navigation-text-color: #666666;
	--pinset-profile-navigation-hovered-text-color: #3d3d3d;
	--pinset-profile-chat-button-color: #515151;
	--pinset-profile-chat-button-hovered-color: #333333;
	--pinset-profile-board-modify-time-text-color: #4e4e4e;
	--pinset-profile-board-border-color: #c9c9c9;
	--pinset-profile-board-title-text-color: #333333;
	--pinset-profile-user-name-text-color: #333333;
	--pinset-profile-user-edit-block-color: #757575;
	--pinset-profile-user-edit-block-hovered-color: #585858;

	--pinset-delete-button-color: #C20000;
	--pinset-delete-button-hovered-color: #910000;

	--pinset-create-inputs-placeholder-text-color: #7A7A7A;
}
