@import url(components/input/input.css);
@import url(components/button/button.css);
@import url(pages/main/main.css);
@import url(pages/login/login.css);
@import url(pages/signup/signup.css);
@import url(pages/unknown/unknown.css);
@import url(components/complex/header/header.css);
@import url(components/complex/grid/grid.css);
@import url(components/complex/pin/pin.css);

@import url(./constants.css);

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
