.pin-edit-page__content-container {
    width: 50%;
    height: 60%;
    position: fixed;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 40px;
    z-index: 99999;
}

.pin-edit-page__cover-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.pin-edit-page__cover-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    overflow: hidden
}

.pin-edit-page__main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin-edit-page__inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pin-edit-page__cover-container {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.pin-edit-page__inputs-container {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.pin-edit-page__board-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: 2px solid var(--pinset-create-inputs-placeholder-text-color);
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
}

.pin-edit-page__board-selector-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin-edit-page__board-selector-container-text {
    margin: 0 0 0 10px;
    font-size: 16px;
    color: var(--pinset-create-inputs-placeholder-text-color);
}

.pin-edit-page__board-selector-container-icon {
    width: 30px;
    height: 30px;
}
