/* Основные стили для input-container */
.input-container {
    /* position: relative; */
    display: flex;
    align-items: center;
    /* width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px 15px;
    transition: border-color 0.3s, background-color 0.3s; */
}

.input-wrapper {
  position: relative;
}

.input__label {
  position: absolute;
  top: -10px; /* Adjust this value to control label positioning */
  left: 10px; /* Adjust for horizontal spacing */
  font-size: 5px;
  color: #8f8f8f;
}

.input-icons-wrapper {
  position: relative;
}

.input__icon-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.input__icon-right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.input {
  padding-left: 40px; /* Add padding for left icon */
  padding-right: 40px; /* Add padding for right icon */
}
