<div class="pin">
  <select class="pin__board-selector">
    <option value="">Select Board</option>
    {{#each boards}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>

  <div class="pin__save-button"></div>

  <div class="pin__image">
    <img src="{{pinUrl}}" alt="Pin Image" class="pin__image" />
  </div>

  <div class="pin__button-left-bottom"></div>
  <div class="pin__button-right-bottom"></div>
</div>
