div[id^=pin__content-container] {
	position: absolute;
	display: flex;
	flex-direction: column;
}

div[id^=pin__content-container] {
    transition: all 0.3s ease-in-out;
}

img[class^=pin__image] {
	border-radius: 30px;
}

div[class^=pin__author_container] {
	display: flex;
	align-items: center;
}

.pin__author_avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	object-fit: cover;
	clip-path: circle();
}

div[class^=pin__author_container] p {
	margin-left: 10px;
}
