div[class^=pin__content-container] {
	position: absolute;
	display: flex;
	flex-direction: column;
}

.pin__image-container {
	position: relative;
	width: 100%;
	height: 100%;
}

img[class^=pin__image] {
	border-radius: 20px;
}

.pin__image-container:hover img[class^=pin__image] {
	filter: brightness(70%);
	cursor: pointer;
}

div[class^=pin__image-preview-button] {
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 20px;
	right: 15px;
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 50%;
}

.pin__image-container:hover div[class^=pin__image-preview-button] {
	visibility: visible;
	transition: 0.5s;
}

div[class^=pin__image-preview-button]:hover {
	background-color: #e6e6e6;
	cursor: pointer;
	transition: 0.5s;
}

div[class^=pin__image-preview-button] img {
	width: 35px;
	height: 35px;
}

div[class^=pin__author-container] {
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.pin__author-avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	object-fit: cover;
	clip-path: circle();
	cursor: pointer;
}

.pin__author-info {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.pin__author-name {
	margin: 0;
	color: var(--pin-feed-author-name-color);
	font-size: 16px;
	font-weight: 600;
}

.pin__author-followers-number {
	margin: 0;
	color: var(--pin-feed-author-followers-number-color);
	font-size: 12px;
	font-weight: 300;
}
