@import url(../../constants.css);

.button {
	background-color: var(--project-primary-red);
	color: var(--project-primary-white); /* Белый цвет текста */
	padding: 10px 20px; /* Внутренние отступы */
	border: none; /* Убираем границу */
	border-radius: 4px; /* Скругленные углы */
	cursor: pointer; /* Указатель мыши на кнопке */
	font-size: 16px; /* Размер шрифта */
	transition: background-color 0.3s ease; /* Плавный переход цвета фона */
}
  
button.button:active {
	background-color: var(--project-primary-white);
	color: var(--project-primary-white);
}
  
.button:hover {
	background-color: var(--buttons-hover-background-color);
	color: var(--buttons-hover-background-color);
}
  
.button:disabled {
	background-color: var(--buttons-disabled-color); /* Серый цвет фона */
	color: var(--buttons-disabled-text-color); /* Блеклый цвет текста */
	cursor: not-allowed; /* Указатель меняется на значок "запрещено" */
	opacity: 0.6; /* Прозрачность, чтобы подчеркнуть неактивность */
}
  
.dropDownButton {
	background-color: var(--project-primary-red);
	color: var(--project-primary-white); /* Белый цвет текста */
	padding: 10px 20px; /* Внутренние отступы */
	border: none; /* Убираем границу */
	border-radius: 4px; /* Скругленные углы */
	cursor: pointer; /* Указатель мыши на кнопке */
	font-size: 16px; /* Размер шрифта */
	transition: background-color 0.3s ease; /* Плавный переход цвета фона */
}
  
.dropDownButton.dropDownButton:active {
	background-color: var(--project-primary-white);
	color: var(--project-primary-white);
}
  
.dropDownButton:hover {
	background-color: var(--buttons-hover-background-color);
	color: var(--buttons-hover-background-color);
}
  
.dropDownButton:disabled {
	background-color: var(--buttons-disabled-color); /* Серый цвет фона */
	color: var(--buttons-disabled-text-color); /* Блеклый цвет текста */
	cursor: not-allowed; /* Указатель меняется на значок "запрещено" */
	opacity: 0.6; /* Прозрачность, чтобы подчеркнуть неактивность */
}