<button 
   class="button {{type}} {{#if disabled}}disabled{{/if}} {{#if active}}active{{/if}}"
   {{#if disabled}}disabled{{/if}}
>
  {{#if iconLeft}}<img src="{{iconLeft}}" alt="iconLeft" />{{/if}}
  {{label}}
  {{#if iconRight}}<img src="{{iconRight}}" alt="iconRight" />{{/if}}
</button>
