<button class="button {{type}} {{#if disabled}}disabled{{/if}} {{#if active}}active{{/if}}" {{#if
  disabled}}disabled{{/if}}>
  {{#if iconLeft}}<span class="icon-left">{{iconLeft}}</span>{{/if}}
  {{label}}
  {{#if iconRight}}<span class="icon-right">{{iconRight}}</span>{{/if}}
</button>