.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.button {
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	font-size: 14px;
	transition: 0.5s;
}

.button.link {
	font-family: 'Sansation', sans-serif;
	color: var(--project-primary-red);
	padding: 0px 10px;
	background-color: transparent;
	text-decoration: underline;
}

button.link:active {
	color: var(--buttons-hover-background-color);
	transition: 0.5s;
}

.button:disabled {
	background-color: grey;
	/* Серый цвет фона */
	color: lightgrey;
	/* Блеклый цвет текста */
	cursor: not-allowed;
	/* Указатель меняется на значок "запрещено" */
	opacity: 0.6;
	/* Прозрачность, чтобы подчеркнуть неактивность */
}