<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
<link href="./components/complex/csat/csat.css" rel="stylesheet">

<div class="csat__content-container">
    <div class="csat__rating-stars">
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
    </div>
    <div>
        <button class="csat__create-button-contaioner">
            Submit
        </button>
    </div>
<script src="./components/complex/csat/csat.js"></script>
