.header {
  display: flex;
  justify-content: space-between;
  /* flex-direction: raw; Изменение главной оси на вертикальную */
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  width: 100%; /* Ensures it stretches across the page */
  box-sizing: border-box;
}

/* Flexbox for navigation buttons */
.header__nav {
  display: flex;
  gap: 15px; /* Spacing between section buttons */
}

.header__nav .button {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #000;
  border: none;
  display: flex;
  align-items: center;
}

.header__search,
input {
  height: 24px;
  padding: 10px; /* Отступы внутри поля */
  border: none; /* Убираем границу */
  border-radius: 8; /* Убираем скругление углов */
  background-color: #f0f0f0; /* Цвет фона */
  font-size: 16px; /* Размер шрифта */
  outline: none; /* Убираем обводку при фокусе */
  transition: background-color 0.3s; /* Плавный переход цвета фона */
  width: 100%;
  margin-right: 24px;
}

.header__auth {
  display: flex;
  gap: 15px; /* Gap between login and register buttons */
}

.header__profile {
  display: flex;
  gap: 15px;
}

/* Profile and Notification Icons Styling */
.header__profile img {
  width: 24px; /* Adjust icon size if needed */
  height: 24px;
}

.header__icon img {
  width: 128px;
  height: 48px;
  margin-right: 24px;
}

/* Center elements inside the header vertically */
.header__icon,
.header__search,
.header__auth,
.header__profile,
input {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 24px;
}

.dropdown__content {
  display: none; /* Скрыть выпадающий список по умолчанию */
  position: absolute;
  background-color: white; /* Цвет фона выпадающего списка */
  z-index: 1;
}

.dropdown__content a {
  color: white; /* Цвет текста */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown__content a:hover {
  background-color: #ddd; /* Цвет фона при наведении */
}

