.input-error {  
  border: 1px solid var(--input-primary-error-color);
}

.input-disabled {
  background-color: var(--input-disabled-bg);
  border: 1px solid var(--input-disabled-border);
  pointer-events: none;
}

/* Hover & Active */
.input:hover {
  border-color: var(--input-hover-color);
}

.input:active {
  border-color: var(--input-active-color);
}